<div class="container">

    <div class="row">
      <div class="col-lg-4">
        <h2>Save time and effort</h2>
        <p>No more hassle of exiting your vehicle to open and close your gates.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Built tough for Australian conditions</h2>
        <p>Made to last in the harsh Australian environment.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Get Gouged</h2>
        <p>We can modify our gate to suit your unique requirements, and charge you a premium for it!</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Deluxe Autogate. <span class="text-muted">A stylish addition to the front entrance of any property.</span></h2>
          <p class="lead">Fabricated from a 30mm RHS frame with a loop and spear decoration, and finished in a scratch proof powder coat paint avaliable in most colours.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/images/carousel2.jpg" height="500px" width="500px" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Standard Autogate. <span class="text-muted">The perfect addition to any property with multiple yards.</span></h2>
          <p class="lead">Fabricated from a NB25 frame with a sheep mesh infill and a galvanized finish.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="assets/images/carousel1.jpg" height="500px" width="500px" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
  </div>
