<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h2 class="featurette-heading">OzAutogate is an Australian manufacturer of poweless automatic gates.</h2>
      <p class="lead">Our gates are 100% Australian owned and made, manufactured in Brisbane Queensland and sold Australia wide.</p>
      <p class="lead">We save aussie farms from the struggles of opening and closing standard swinging farm gates in a storm, the rain or the dark of night. OzAutogate will save you time and keep you in the safety of your vehicle.</p>
    </div>    
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/ozautogate_logo.jpg" alt="OzAutogate logo">
    </div>
  </div>
</div>
