<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>If you are located in Victoria, Australia</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Contact name</div>
    <div class="col-sm-9">Joe Bloggs</div>
  </div>
  <div class="row">
    <div class="col-sm-3">Phone</div>
    <div class="col-sm-9">0414 999 999</div>
  </div>
  <div class="row">
    <div class="col-sm-3">Web address</div>
    <div class="col-sm-9"><a href="">Victoria website</a></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p></p>
      <h4>For all other locations, including international enquiries, please contact our head office</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Address</div>
    <div class="col-sm-9">
      55 Weaver Street<br>Coopers Plains, QLD, 4108<br>Australia
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Phone</div>
    <div class="col-sm-9">(+61) 0414 999 999</div>
  </div>
  <div class="row">
      <div class="col-sm-3">E-mail</div>
      <div class="col-sm-9">mathew@ozautogate.com</div>
  </div>
</div>
  
