<app-navbar></app-navbar>

<main role="main">
  <!-- <div class="text-center">
    <img src="assets/images/ozautogate_logo.jpg">
  </div> -->
  <carousel>
    <slide>
      <img src="assets/images/carousel1_cropped.jpg" alt="First slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/carousel2_cropped.jpg" alt="Second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/carousel3_cropped.jpg" alt="Third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

<router-outlet></router-outlet>

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2018 OzAutogate, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
  
