<div class="container text-center"><h2 class="text-success font-weight-bold">What everybody is saying.</h2></div>
<div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#testimonialCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <blockquote class="blockquote text-center">
              <p class="mb-0">We were one of the first ones to get one of these when they were available in Warwick QLD. Great gates :)</p>
              <footer class="blockquote-footer"><cite title="Source Title">Debbie K</cite></footer>
            </blockquote>
          </div>
          <div class="col-sm">
            <blockquote class="blockquote text-center">
              <p class="mb-0">Had mine since 2005. Love it. Love it. Love it. AND STILL LOVE IT.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Karlie H</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <blockquote class="blockquote text-center">
              <p class="mb-0">A great product 15 years of trouble free service. Highly recommended!!!!</p>
              <footer class="blockquote-footer"><cite title="Source Title">Tony H</cite></footer>
            </blockquote>
          </div>
          <div class="col-sm">
            <blockquote class="blockquote text-center">
              <p class="mb-0">I ordered a gate when we moved to WA, 15 years ago.  Our gate has been functioning admirably ever since. Amazing.</p>
              <footer class="blockquote-footer"><cite title="Source Title">Dr J Keith S</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <span class="carousel-control-prev" data-target="#testimonialCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </span>
  <span class="carousel-control-next" data-target="#testimonialCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </span>
  </div>
</div>
