<div class="container text-center"><h2 class="text-success font-weight-bold">What everybody is saying.</h2></div>
<div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#testimonialCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <blockquote class="blockquote text-center">
              <p class="mb-0">I love my Autogate!</p>
              <footer class="blockquote-footer"><cite title="Source Title">Farmer Brown</cite></footer>
            </blockquote>
          </div>
          <div class="col-sm">
            <blockquote class="blockquote text-center">
              <p class="mb-0">I also love my Autogate!</p>
              <footer class="blockquote-footer"><cite title="Source Title">Shaun the Sheep</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <blockquote class="blockquote text-center">
              <p class="mb-0">The installation was a breeze!</p>
              <footer class="blockquote-footer"><cite title="Source Title">Another Farmer</cite></footer>
            </blockquote>
          </div>
          <div class="col-sm">
            <blockquote class="blockquote text-center">
              <p class="mb-0">Autogate saves me so much time!</p>
              <footer class="blockquote-footer"><cite title="Source Title">Yet Another Farmer</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <span class="carousel-control-prev" data-target="#testimonialCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </span>
  <span class="carousel-control-next" data-target="#testimonialCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </span>
  </div>
</div>
