/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 8rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

 /* Featurettes
------------------------- */

.featurette-divider {
    margin: 3rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  } */

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  